In [1]:
import nltk

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\raj\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [3]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [4]:
sid = SentimentIntensityAnalyzer()

In [39]:
a = "This is a good movie"

In [40]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [42]:
a = "this is a good movie"

In [43]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [7]:
a = "This was the best, most awesome moview EVER MADE!!!"

In [8]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.425, 'pos': 0.575, 'compound': 0.8877}

In [9]:
a = "This was the WORST movie I has ever disgraced the screen"

In [10]:
sid.polarity_scores(a)

{'neg': 0.495, 'neu': 0.505, 'pos': 0.0, 'compound': -0.8331}

In [11]:
import pandas as pd

In [ ]:
df = pd.read_csv("amazonreviews.tsv" ,sep='\t')

In [13]:
df.head()

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...

In [14]:
df['label'].value_counts()

label
neg    5097
pos    4903
Name: count, dtype: int64

In [15]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [16]:
df.dropna(inplace=True)

In [17]:
blanks = [] 
for i ,lb,rv in df.itertuples():
    if type(rv) == str:
         if rv.isspace():
             blanks.append(i)

In [18]:
blanks

[]

In [19]:
# df.drop(blanks,inplace=True)

In [20]:
df.iloc[0]['review']

'Stuning even for the non-gamer: This sound track was beautiful! It paints the senery in your mind so well I would recomend it even to people who hate vid. game music! I have played the game Chrono Cross but out of all of the games I have ever played it has the best music! It backs away from crude keyboarding and takes a fresher step with grate guitars and soulful orchestras. It would impress anyone who cares to listen! ^_^'

In [21]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [22]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [23]:
df.head()

,label,review,scores
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co..."
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co..."
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com..."
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com..."
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp..."

In [24]:
df['compound'] = df['scores'].apply(lambda d:d['compound'])

In [25]:
df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [26]:
df['comp_score'] = df['compound'].apply(lambda score:'pos' if score >= 0 else 'neg')

In [27]:
df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [28]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [29]:
accuracy_score(df['label'],df['comp_score'])

0.7097

In [30]:
print(classification_report(df['label'],df['comp_score']))

              precision    recall  f1-score   support

         neg       0.86      0.52      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000

In [31]:
print(confusion_matrix(df['label'],df['comp_score']))

[[2629 2468]
 [ 435 4468]]

In [44]:
import pickle

In [45]:
with open('sentiment_analysis_model.pkl', 'wb') as file:
    pickle.dump(sid, file)

In [32]:
# # assign with lambda 

# import pandas as pd
 
# # creating and initializing a list
# values= [['Rohan',455],['Elvish',250],['Deepak',495],
#          ['Soni',400],['Radhika',350],['Vansh',450]] 

# # creating a pandas dataframe
# df = pd.DataFrame(values,columns=['Name','Total_Marks'])

# # Applying lambda function to find 
# # percentage of 'Total_Marks' column 
# # using df.assign()
# df = df.assign(Percentage = lambda x: (x['Total_Marks'] /500 * 100))

# # displaying the data frame
# df

In [33]:
# # importing pandas library
# import pandas as pd

# # creating and initializing a nested list
# values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
#                [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
#                [51, 2.3, 111]]

# # creating a pandas dataframe
# df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'])

# # Applying lambda function to find
# # the product of 3 columns using
# # df.assign()
# df = df.assign(Product=lambda x: (x['Field_1'] * x['Field_2'] * x['Field_3']))

# # printing dataframe
# df

In [34]:
# # importing pandas and numpy libraries
# import pandas as pd
# import numpy as np

# # creating and initializing a nested list
# values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
#                [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90], 
#                [51, 2.3, 111]]

# # creating a pandas dataframe
# df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
#                   index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])


# # Apply function numpy.square() to square
# # the values of one row only i.e. row 
# # with index name 'd'
# df = df.apply(lambda x: np.square(x) if x.name == 'd' else x, axis=1)


# # printing dataframe
# df

In [35]:
# # importing pandas and numpylibraries
# import pandas as pd
# import numpy as np

# # creating and initializing a nested list
# values_list = [[15, 2.5, 100], [20, 4.5, 50], [25, 5.2, 80],
#                [45, 5.8, 48], [40, 6.3, 70], [41, 6.4, 90],
#                [51, 2.3, 111]]

# # creating a pandas dataframe
# df = pd.DataFrame(values_list, columns=['Field_1', 'Field_2', 'Field_3'],
#                   index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])


# # Apply function numpy.square() to square 
# # the values of 3 rows only i.e. with row
# # index name 'a', 'e' and 'g' only
# df = df.apply(lambda x: np.square(x) if x.name in [
#               'a', 'e', 'g'] else x, axis=1)

# # printing dataframe
# df